<!DOCTYPE html>
<html>

<head>
    <title>Задание 2</title>
    <!-- Подключение Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Подключаем скрипт с логикой -->
    <script async src="task_2.js"></script>
    <meta charset="UTF-8">
</head>

<body>
    <div id="app">
        <div style="margin: 20px">

            <div>
                <label><b>Исходное положение:</b>
                    <div>
                        <input maxlength="2" v-model="loc">
                    </div>
                    <template v-if='error'>
                        <pre style="color: red">{{notification}}</pre>
                    </template>
                </label>

            </div>
            <p><button @click="coordinates">Вычислить возможные координаты</button></p>
            <p>Вывод: {{conclusion}}</p>

        </div>


    </div>
</body>

</html>